<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add MotoProduct</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-black">
<header class="p-3 text-bg-black d-flex py-2">
    <form th:action="@{/user-panel}" th:method="get" class="item-left">
        <button class="btn btn-outline-light" type="submit">Back to User Panel</button>
    </form>
    <form class="item-right" th:action="@{/logout}" th:method="get">
        <button class="btn btn-outline-warning" sec:authorize="isAuthenticated()"
                th:text="|Log out ${#authentication.name}|" type="submit">Log out</button>
    </form>
</header>

<div class="text-center d-flex flex-column justify-content-center w-50 mx-auto" >
    <h1 class="text-center" style="font-weight: bolder;font-style: oblique;color: red">Add product</h1>

    <form class="custom-form-floating" th:action="@{/user-panel/add}" method="post" th:object="${motoProduct}"
          enctype="multipart/form-data">
        <label for="pictureLabel" class="item-left"
               style="font-weight: bolder;font-style: oblique;color: red">Add picture</label>
        <input  type="file" name="img" accept="image/*" id="pictureLabel" required
                class="btn btn-secondary w-100 form-floating">
        <div class="form-floating custom-form-floating">
            <input th:field="*{title}" class="form-control" id="floatingTitle1" placeholder="title" >
            <label for="floatingTitle1">Title</label>
        </div>
            <label for="floatingDescription1" class="item-left"
                   style="font-weight: bolder;font-style: oblique;color: red">Add description</label>
            <textarea th:field="*{description}" class="form-control no-resize" rows="3"
                      id="floatingDescription1" placeholder="Write description here"></textarea>
        <div class="form-floating custom-form-floating">
            <input type="text" th:field="*{contactInfo}" class="form-control" id="floatingContact1" placeholder="contact" >
            <label for="floatingContact1">Contact info</label>
        </div>
        <div class="form-floating custom-form-floating">
            <input type="number" th:field="*{price}" class="form-control" id="floatingPrice1" placeholder="price PLN">
            <label for="floatingPrice1">Price PLN</label></div>
        <button type="submit" class="btn btn-outline-danger w-100 py-3 custom-form-floating">Add MotoProduct</button>
    </form>
</div>
</body>
</html>
