<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add MotoProduct</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}" />
</head>
<body>
<div class="container">
    <img src="../static/images/MotoCenter.png" th:src="@{/images/MotoCenter.png}" alt="logo"
         class="resized-image">
    <h1 class="header" style="font-family:fantasy">Add MotoProduct</h1>

<!--    <form method="post" th:action="@{/user-panel/add}" enctype="multipart/form-data">-->
<!--    <input  type="file" name="image" accept="image/*" class="form-item">-->
<!--    <button type="submit" class="btn btn-primary">Upload image</button>-->
<!--    </form>-->

    <form class="form" th:action="@{/user-panel/add}" method="post" th:object="${motoProduct}"
          enctype="multipart/form-data">
<!--        <input  th:field="*{image}" type="file" name="image" accept="image/*" class="form-item">-->
<!--        <p th:text="${motoProduct.getImage()}" th:if="${motoProduct.getImage() ne null}" class="alert alert-primary"></p>-->
<!--        <input  type="file" name="image" accept="image/*" class="form-item">-->
<!--            <div class="form-group">-->
        <input  type="file" name="img" accept="image/*" class="form-item">
<!--            </div>-->

<!--        <span th:if="${msg != null}" th:text="${msg}"></span>-->

        <input th:field="*{title}" placeholder="title" class="form-item">
        <input th:field="*{description}" placeholder="description" class="form-item">
        <input th:field="*{contactInfo}" placeholder="contact info" class="form-item">
        <input th:field="*{price}" placeholder="price" class="form-item">
        <button type="submit" class="form-item">Add MotoProduct</button>
    </form>

</div>
</body>
</html>
