<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-black">
<header class="p-3 text-bg-black d-flex py-2">
    <form th:action="@{/user-panel/user-messages}" th:method="get" class="item-left">
        <button class="btn btn-outline-light" type="submit">Back to User Messages</button>
    </form>
    <form class="item-right" th:action="@{/logout}" th:method="get">
        <button class="btn btn-outline-warning" sec:authorize="isAuthenticated()"
                th:text="|Log out ${#authentication.name}|" type="submit">Log out</button>
    </form>
</header>

<div class="text-center">
    <h1 class="text-center" style="font-weight: bolder;font-style: oblique;color: red">Send message</h1>
    <i class="fa-regular fa-envelope fa-4x" style="color: red"></i>
</div>

<!--<div th:text="${'Title: ' + messageDto.getTitle()}">Title: </div>-->
<!--<div th:text="${'Recipient: ' + messageDto.getSender().getEmail()}">Recipient: </div>-->
<!--<br>-->

<!--<form class="form-item" th:action="@{'/user-panel/user-messages/{email}/{id}/answer'(email=${messageDto.getSender().getEmail()},-->
<!--            id=${messageDto.getMessageId()})}" method="post" th:object="${message}">-->
<!--    <textarea class="message-box" rows="6" th:field="*{content}" placeholder="Text of message"></textarea>-->
<!--    <button type="submit" class="big-button">Send message</button>-->
<!--</form>-->

<br>
<div class="mx-auto rounded-4 text-center justify-content-center bg-dark-subtle w-75">
<!--<div class="card-body border rounded-4 text-center d-flex flex-column justify-content-center bg-dark-subtle w-75">-->
    <form th:unless="${messageDto.getSender().getEmail()==#authentication.name}" class="form-floating custom-form-floating "
          th:action="@{'/user-panel/user-messages/{email}/{id}/answer'(email=${messageDto.getSender().getEmail()},
            id=${messageDto.getMessageId()})}" method="post" th:object="${message}">
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Title: ' + messageDto.getTitle()}">Title: </span>
        <br>
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Owner: ' + messageDto.user.getEmail()}">Owner: </span>
        <br>
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Product Id: ' + messageDto.getProductId()}">example_id</span>
        <br>
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Recipient: ' + messageDto.getSender().getEmail()}">Recipient: </span>
        <br>
        <textarea class="message-box" rows=6 th:field="*{content}" placeholder="Text of message"></textarea>
<!--        <div class="form-floating custom-form-floating">-->
        <button class="btn btn-outline-danger w-75 py-3 custom-form-floating border-3"
                style="margin-bottom: 10px;font-weight: bold" type="submit">Send message</button>
<!--        </div>-->
    </form>

    <form th:if="${messageDto.getSender().getEmail()==#authentication.name}" class="form-floating custom-form-floating "
          th:action="@{'/user-panel/user-messages/{email}/{id}/answer'(email=${messageDto.getUser().getEmail()},
            id=${messageDto.getMessageId()})}" method="post" th:object="${message}">
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Title: ' + messageDto.getTitle()}">Title: </span>
        <br>
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Owner: ' + messageDto.user.getEmail()}">Owner: </span>
        <br>
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Product Id: ' + messageDto.getProductId()}">example_id</span>
        <br>
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Recipient: ' + messageDto.getUser().getEmail()}">Recipient: </span>
        <br>
        <textarea class="message-box" rows=6 th:field="*{content}" placeholder="Text of message"></textarea>
        <!--        <div class="form-floating custom-form-floating">-->
        <button class="btn btn-outline-danger w-75 py-3 custom-form-floating border-3"
                style="margin-bottom: 10px;font-weight: bold" type="submit">Send message</button>
        <!--        </div>-->
    </form>
</div>


</body>
</html>
