<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MotoCenter</title>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-black">
<header class="p-3 text-bg-black d-flex py-2">
    <form th:action="@{/user-panel}" th:method="get" class="item-left">
        <button class="btn btn-outline-light" type="submit">Back to User Panel</button>
    </form>
    <form class="item-right" th:action="@{/logout}" th:method="get">
        <button class="btn btn-outline-warning" sec:authorize="isAuthenticated()"
                th:text="|Log out ${#authentication.name}|" type="submit">Log out</button>
    </form>
</header>

<div>
    <h1 class="text-center small-margin mx-auto" style="font-weight: bolder;font-style: oblique;color: red">Change password</h1>
</div>

<div class="text-center d-flex flex-column justify-content-center mx-auto w-50">
<form class="custom-form-floating" th:action="@{/change-password}" method="post">
    <div class="form-floating custom-form-floating">
        <input name="newPassword" type="password" class="form-control" id="floatingPassword1" placeholder="New password" >
        <label for="floatingPassword1">New password</label>
    </div>
    <button class="btn btn-outline-danger w-75 py-3 custom-form-floating" type="submit">Change password</button>
</form>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>MotoCenter - Details</title>-->
<!--    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}" />-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
<!--</head>-->
<!--<body class="bg-black">-->
<!--<header class="p-3 text-bg-black d-flex justify-content-center py-2">-->
<!--    <form th:action="@{/products}" th:method="get" class="item-left">-->
<!--        <button class="btn btn-outline-light me-3" type="submit">Back to MotoProducts</button>-->
<!--    </form>-->
<!--    <form class="item-right" th:action="@{/logout}" th:method="get">-->
<!--        <button class="btn btn-outline-warning me-3" sec:authorize="isAuthenticated()"-->
<!--                th:text="|Log out ${#authentication.name}|" type="submit">Log out</button>-->
<!--    </form>-->
<!--</header>-->
<!--&lt;!&ndash;<div class="item-left">&ndash;&gt;-->
<!--&lt;!&ndash;    <a href="#" th:href="@{/products}">Go back to products</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="item-right">&ndash;&gt;-->
<!--&lt;!&ndash;    <a sec:authorize="isAuthenticated()"&ndash;&gt;-->
<!--&lt;!&ndash;       th:text="|Log out ${#authentication.name}|"&ndash;&gt;-->
<!--&lt;!&ndash;       href="#" th:href="@{/logout}">Log out</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<br>&ndash;&gt;-->
<!--<div class="container">-->
<!--    <h1 class="text-center" style="font-weight: bolder;font-style: oblique;color: red">MotoProduct Details</h1>-->
<!--</div>-->
<!--&lt;!&ndash;<div >&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container text-center d-flex flex-column justify-content-center bg-dark-subtle">&ndash;&gt;-->
<!--<ul class="card-body border rounded-4 container text-center d-flex flex-column justify-content-center bg-dark-subtle"-->
<!--    style="list-style: none">-->
<!--    <li th:each="motoProduct: ${motoDetails}">-->
<!--        <img class="img-fluid border border-black align-content-center custom-form-floating"-->
<!--             alt="Product image" th:src="@{${'/images/'+motoProduct.image}}" width="800">-->
<!--        <br>-->
<!--        <span style="font-weight: bold" th:text="${'Title: ' + motoProduct.title}">example_title</span>-->
<!--        <br>-->
<!--        <span th:text="${'Description: ' + motoProduct.description}">example_description</span>-->
<!--        <br>-->
<!--        <span style="font-weight: bolder" th:text="${'Price: ' + motoProduct.price +' PLN'}">example_price</span>-->
<!--        <br>-->
<!--        <span th:text="${'Contact info: ' + motoProduct.contactInfo}">example_contact</span>-->
<!--        <br>-->
<!--        &lt;!&ndash;            <span th:text="${'Owner id: ' + motoProduct.user.getId()}">example_id</span>&ndash;&gt;-->
<!--        &lt;!&ndash;            <br>&ndash;&gt;-->
<!--        <span th:text="${'Owner: ' + motoProduct.user.getEmail()}">example_owner</span>-->
<!--        <br>-->
<!--        <form th:unless="${motoProduct.getOwner()}==${#authentication.name}"-->
<!--              th:action="@{'/products/{id}/message'(id=${motoProduct.id})}" th:method="get">-->
<!--            <button style="font-weight: bold" class="btn btn-outline-danger small-margin align-content-start" type="submit">Private message</button>-->
<!--        </form>-->
<!--        <form th:unless="${motoProduct.getOwner()}==${#authentication.name}"-->
<!--              th:action="@{'/products/{id}/buy'(id=${motoProduct.id})}" th:method="get"-->
<!--              onclick="return confirm('Are you sure you want to buy this product?')">-->
<!--            <button style="font-weight: bold" class="btn btn-outline-danger small-margin align-content-start" type="submit">Buy</button>-->
<!--        </form>-->
<!--    </li>-->
<!--</ul>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->
