<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Send message</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-black">
<header class="p-3 text-bg-black d-flex justify-content-center py-2">
    <form th:action="@{/products}" th:method="get" class="item-left">
        <button class="btn btn-outline-light me-3" type="submit">Back to MotoProducts</button>
    </form>
    <form class="item-right" th:action="@{/logout}" th:method="get">
        <button class="btn btn-outline-warning me-3" sec:authorize="isAuthenticated()"
                th:text="|Log out ${#authentication.name}|" type="submit">Log out</button>
    </form>
</header>

<div class="container text-center">
    <h1 class="text-center" style="font-weight: bolder;font-style: oblique;color: red">Send message</h1>
    <i class="fa-regular fa-envelope fa-4x" style="color: red"></i>
</div>
<br>
<div class="card-body border rounded-4 container text-center d-flex flex-column justify-content-center bg-dark-subtle">
    <form class="form-floating custom-form-floating" th:action="@{'/products/{id}/message'(id=${motoProduct.id})}" method="post" th:object="${messageDto}">
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Title: ' + motoProduct.title}">Title: </span>
        <br>
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Owner: ' + motoProduct.user.getEmail()}">Owner: </span>
        <br>
        <span style="font-weight: bold; color: red; align-content: flex-start" th:text="${'Product Id: ' + motoProduct.id}">example_id</span>
        <br>
        <textarea style="margin-bottom: 10px" class="message-box" rows="6" th:field="*{content}" placeholder="Text of message"></textarea>
        <br>
        <div class="form-floating custom-form-floating">
        <br>
        <button class="btn btn-outline-danger small-margin w-100 py-3 custom-form-floating"
                type="submit">Send message</button>
        </div>
    </form>
</div>
</body>
</html>
