<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg">

<div class="container text-center d-flex flex-column justify-content-center min-vh-100">
<!--    <img src="../static/images/MotoCenter.png" th:src="@{/images/MotoCenter.png}" alt="logo"-->
<!--         class="full-image">-->
    <h1 class="header text-white" style="font-weight: bolder">Register</h1>
    <i class="fa-solid fa-user-lock fa-4x text-white"></i>
    <form class="custom-form-floating w-50 mx-auto" th:action="@{/register}" method="post" th:object="${user}">
        <div class="form-floating custom-form-floating">
            <input type="email" th:field="*{email}" class="form-control"  id="floatingEmail2" placeholder="Email" >
            <label for="floatingEmail2">Email</label>
        </div>
        <div class="form-floating custom-form-floating">
            <input type="password" th:field="*{password}" class="form-control"  id="floatingPassword2" placeholder="Password" >
            <label for="floatingPassword2">Password</label>
        </div>
        <div class="form-floating custom-form-floating">
            <input type="text" th:field="*{firstName}" class="form-control"  id="floatingName2" placeholder="FirstName" >
            <label for="floatingName2">First Name</label>
        </div>
        <div class="form-floating custom-form-floating">
            <input type="text" th:field="*{lastName}" class="form-control"  id="floatingName3" placeholder="LastName" >
            <label for="floatingName3">Last Name</label>
        </div>
        <button type="submit" class="btn btn-secondary w-100 py-3 custom-form-floating"
        style="font-weight: bolder">Register</button>
    </form>

    <p class="text-white small-margin" style="font-weight: bold">
        Already have an account?
        <a class="nav-item text-bg-danger" style="font-weight: bold" href="#" th:href="@{/login}">Log in</a>
    </p>
</div>
</body>
</html>
