<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MotoCenter - Messages</title>
    <link rel="stylesheet" href="../static/styles/main.css" th:href="@{/styles/main.css}" />
</head>
<body>
<div class="item-left">
    <a href="#" th:href="@{/user-panel}">Go back to user-panel</a>
</div>
<div class="item-right">
    <a sec:authorize="isAuthenticated()"
       th:text="|Log out ${#authentication.name}|"
       href="#" th:href="@{/logout}">Log out</a>
</div>
<div class="container">
    <h2>Private messages</h2>
    <ul>
        <li class="element-frame" th:each="sender: ${sender}">
            <span th:text="${'You have message from: ' + sender}">sender email</span>
            <br>
            <form th:action="@{'user-messages/{email}'(email=${sender})}" th:method="get">
                <button class="small-button" type="submit">Chat with User</button>
            </form>

        </li>
    </ul>
</div>
</body>
</html>