/*.container {*/
/*    margin: auto;*/
/*    !*text-align: center;*!*/
/*    align-items: center;*/
/*}*/
.products-container {
    text-align: center;
    align-items: center;
    max-width: 1500px;
    display: flex;
}

.message-box {
    width: 80%;
    height: 80%;
    align-items: center;
    padding: 22px 20px;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.item-left {
    float: left;
    margin: auto;
}
.item-right {
    float: right;
    margin: auto;
}


.form {
    display: flex;
    flex-direction: column;
    margin: 16px;
    align-items: center;
}


.lock-icon {
    display: block;
}

.header,
.lock-icon,
.form-item {
    text-align: center;
}
.small-button {
    margin: 2px 2px;
    width: 28%;
    display: flex;
    text-align: center;
    align-items: center;
}
.big-button {
    margin: 2px 2px;
    width: 45%;
    font-size: large;
    display: flex;
    text-align: center;
    align-items: center;
}
.form-item {
    margin: 4px 4px;
    width: 100%;
}
.resized-image {
    max-width: 30%;
    max-height: 30%;
}
.full-image {
    max-width: 100%;
}
.element-frame {
    border: 2px solid;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    align-items: center;
}
.custom-form-floating {
    margin-top: 10px;
}
.no-resize {
    resize: none;
}
.small-margin {
    margin: 3px;
}
.bg {
    /* The image used */
    /*background-image: url('../static/images/theme-2.png');*/
    background-image:url(../images/theme-2.jpg);
    background-color: black;



    /* Full height */
    height: 100%;
    margin: 0;
    /*width: 100%;*/

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}